*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures

app/src/main/res/values/strings.xml
app/build/intermediates/
.gradle/2.10/taskArtifacts/
.gradle/2.10/tasks/
app/build/generated/source/
build/intermediates/
app/build/outputs/